---
title: "Çalıştığımız Markalar"
layout: default
permalink: "/markalar"
---

<div class="container">

<h4 class="font-weight-bold spanborder mt-3"><span>{{page.title}}</span></h4>
    <div class="row gap-y listrecent listrecent listauthor">

        {% assign brands = site.brands | sort: "publish-number" %}
        {% for education in brands %}

        <div class="col-12 col-sm-3 p-4 border rounded kitap-kutu">
            <a class="baslik-link" href="{{ brand.url }}"">            
                <img class="cover-images" src="{{site.baseurl}}/{{ brand.image }}" alt="">
                <h6 class="text-dark mb-0"> {{ brand.title }} </h6>
                {% if siteauthor %}
                {% for brandauthor in brand.authors %}
                {% assign siteauthor = site.authors | where:"key", brandauthor | first %}
                    <h5 class="d-inline-block mt-2 mb-1 font-weight-normal">{{siteauthor.title}}</h5>
                    {% if forloop.last == false %} - {% endif %}
                {% endfor %}
                {% endif %}
            </a>
        </div>  
        {% endfor %}
    </div>
</div>